In [ ]:
import pandas as pd

In [27]:
    x=[1,2,3,4,5]
    MySeries=pd.Series(x)
    MySeries

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
x.index[0]

0

In [ ]:
x.index[6]

In [19]:
import pandas as pd
x=['california','oregon','washington','colorado','nevada']
x=pd.Series(x, index=['CA','OR','WA','CO','NV'])
x

CA    california
OR        oregon
WA    washington
CO      colorado
NV        nevada
dtype: object

In [30]:
import pandas as pd
simpledictionary_dict={'Abreviation':['CA','OR','WA','CO','NV'], 'State':['california','oregon','washington','colorado','nevada']}
print(simpledictionary_dict)
states_df=pd.DataFrame(simpledictionary_dict)
print(states_df)

{'Abreviation': ['CA', 'OR', 'WA', 'CO', 'NV'], 'State': ['california', 'oregon', 'washington', 'colorado', 'nevada']}
  Abreviation       State
0          CA  california
1          OR      oregon
2          WA  washington
3          CO    colorado
4          NV      nevada

In [32]:
import pandas as pd
Iris=pd.read_csv('Iris.csv')
Iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [33]:
Iris.shape
Iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [34]:
print(Iris['sepal.length'].min())

4.3

In [36]:
Iris['sepal.area']=(Iris['sepal.length']*Iris['sepal.width'])
Iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety  sepal.area
0           5.1          3.5           1.4          0.2  Setosa       17.85
1           4.9          3.0           1.4          0.2  Setosa       14.70
2           4.7          3.2           1.3          0.2  Setosa       15.04
3           4.6          3.1           1.5          0.2  Setosa       14.26
4           5.0          3.6           1.4          0.2  Setosa       18.00

In [39]:
Iris.sort_values('sepal.area', ascending=False).head()

,sepal.length,sepal.width,petal.length,petal.width,variety,sepal.area
131,7.9,3.8,6.4,2.0,Virginica,30.02
117,7.7,3.8,6.7,2.2,Virginica,29.26
109,7.2,3.6,6.1,2.5,Virginica,25.92
15,5.7,4.4,1.5,0.4,Setosa,25.08
14,5.8,4.0,1.2,0.2,Setosa,23.20